.esk-navbar {
  background-color: #000; /* negro institucional */
}

.esk-logo {
  height: 40px;
}

.nav-link,
.dropdown-item {
  color: #00ced1 !important; /* turquesa */
}

.nav-link:hover,
.dropdown-item:hover {
  color: #ff69b4 !important; /* rosa suave */
}

.navbar-brand {
  color: #8a2be2 !important; /* violeta */
}

.dropdown-menu {
  background-color: #000; /* negro */
}

.dropdown-item {
  color: #1e90ff !important; /* azul */
}
